<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.4//EN"
"http://support.jalios.com/dtd/jcms-plugin-1.4.dtd">
<plugin name="kDebugTools"
        version="0.21"
        author="marc bourgeois"
        license="gpl"
        initialize="true"
        jcms=""
        order="0"
        url=""
        jsync="true"
        appserver="">
  <label xml:lang="fr">kDebugTools</label>
  <description xml:lang="fr">A developper debug tool</description>
  <private-files>
    <file path="properties/plugin.prop" />
    <file path="properties/languages/en.prop" />
    <file path="properties/languages/fr.prop" />
  </private-files>
  <public-files>
    <directory path="css/" />
    <directory path="js/" />
    <file path="jsp/debug.jsp" include="INCLUDE_BEFORE_TEMPLATE" />
    <file path="jsp/headerDebug.jsp" include="EMPTY_HEADER_START" />
    <directory path="docs/" />
  </public-files>
</plugin>
